@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";


.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.logo {
    margin: 0 auto;
}

.menu {
    padding-right: 15px;

    &__list {
        display: flex;
    }

    &__list-item {
        padding-left: 35px;
        padding-right: 45px;
    }

    &__list-link {
        @extend %title-font;
        line-height: 22px;
        color: rgba(54, 56, 56, 0.9);
    }
}

.footer {
    &__content {
        background-color: #dfdfdf;
        padding: 60px 0 80px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }

    &__info-text {
        max-width: 475px;
        margin-bottom: 16px;
    }

    &__info-email {
        display: inline-block;
        font-style: 14px;
        font-weight: 600;
        color: $title;
        margin-bottom: 22px;
        padding-left: 30px;
        position: relative;
        &::before {
            content: '';
            background-image: url(../img/envelope.svg);
            top: 8px;
            left: 0;
            width: 16px;
            height: 12px;
            position: absolute;
        }
    }

    &__form {
        display: flex;
    }

    &__form-input {
        width: 100%;
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        border: 1px solid rgba($title, .7);
        background-color: transparent;
        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-style: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #a1a1a1;
        }
    }

    &__form-button {
        background-color: $title;
        border: none;
        color: #fffff0;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }

    &__social {
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }

    &__social-link {
        padding-left: 28px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }

    &__social-link--facebook::before {
        background-image: url(../img/facebook.svg);
    }
    &__social-link--instagram::before {
        background-image: url(../img/instagram.svg);
        width: 14px;
        height: 14px;
        top: 4px;
    }
    &__social-link--pinterest::before {
        background-image: url(../img/Pinterest.svg);
    }
    &__social-link--whatsapp::before {
        background-image: url(../img/whatsapp.svg);
        width: 14px;
        height: 14px;
    }
    &__social-link--youtube::before {
        background-image: url(../img/youtube.svg);
        width: 18px;
        height: 12px;
        top: 4px;
    }

    &__social-item,
    &__menu-item {
        margin-bottom: 15px;
        font-style: 14px;
        font-weight: 600;
    }

    &__social-link,
    &__menu-link {
        color: #707070;
    }

    &__menu {
        width: 125px;
        margin-right: 60px;
    }

    &__copyright {
        text-align: center;
        padding: 42px 0 41px;
        color: #a1a1a1;
        background-color: $title;
    }
}

.rightside-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-width: 694px;
    background-color: #fff;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0 #000;
    transition: all .6s;
    &.rightside-menu--close {
        transform: translateX(500%);
    }

    &__close {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 50px;
        margin-bottom: 60px;
        cursor: pointer;
    }

    &__content {
        text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 40px;
    }

    &__title {
        color: $title;
        @extend %title-font;
        font-style: 36px;
        line-height: 51px;
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 1px;
            background: #6d7278;
        }
    }

    &__text {
        margin-bottom: 75px;
    }

    &__img {
        max-width: 485px;
    }
}